// Alerts
//
// Define alert colors, border radius, and padding.
//
// <div class="{namespace}-alert is-dismissible" role="alert">
//   alert
//   <div class="close">X</div>
// </div>

@mixin alert(){
  $elementClass: "alert";
  $prefix: $elementClass;

  @include new( $elementClass) {
    position: relative;
    max-height: 999px;
    transition: max-height 0.5s linear;

    &.auto-hide {
      overflow: hidden;
      padding: 0;
      max-height: 0;
    }

    @include has($prefix, 'content') {
      padding: $alert-padding-y $alert-padding-x;
      margin-bottom: $alert-margin-bottom;
      border: $alert-border-width solid;
      @include border-radius($alert-border-radius);

      @include state('dismissible'){
        $rem: rem(16px);
        padding-right: ($rem  * 1.5  + $alert-padding-x * 2);

        // Adjust close link position
        .close {
          position: absolute;
          top: 0;
          right: 0;
          padding: $alert-padding-y $alert-padding-x;
          color: inherit;
        }
      }
    }
  }
}
