// text-inputs
$input-height: initial !default;
$input-width: 100% !default;
$input-textpad: 12px 10px !default;
$input-text-color: $black-1 !default;
$input-text-size: $base-font-size + 2 !default;
$input-margin-bottom: 10px !default;
$input-border-color: $chain-gang-grey !default;
$input-background-color: $white !default;

@mixin textInputBase(
    $width: $input-width,
    $height: $input-height,
    $borderColor: $input-border-color,
    $bgColor: $input-background-color,
    $padding: $input-textpad,
    $color: $input-text-color,
    $size: $input-text-size
  ) {
    &[type="text"],
    &[type="email"],
    &[type="password"]{
      outline: none;
      @include baseBorder(0, 1px, $borderColor, solid);
      background-color: $bgColor;
      color: $color;
      font-size: rem($size);
      height: $height;
      padding: $padding;
      width: $width;
    }
}

// Input Label component
$input-label-line-height: 1.5 !default;
$input-label-display: block !default;
$input-label-font-size: 13px !default;

@mixin inputLabel (
  $lineHeight: $input-label-line-height,
  $display: $input-label-display,
  $font-size: $input-label-font-size
  ) {
  line-height: $lineHeight;
  display: $display;
  @include baseFontStyle(normal, normal, $font-size);
  @include baseFontColor($black-1);
}
